{% extends "base.html" %}

{% block title %}{{ section.title }} — {{ config.title }}{% endblock %}
{% block description %}{{ section.description }}{% endblock %}

{% block content %}
<div class="container">
  <section class="page-section">
    <h1 class="section-heading">{{ section.title }}</h1>
    {% if section.description %}
    <p style="margin-bottom: 2rem;">{{ section.description }}</p>
    {% endif %}

    <div class="blog-post__content">
      {{ section.content | safe }}
    </div>
  </section>
</div>
{% endblock %}
